@import './../../assets/style/mixins/mixins';
@import './../../assets/style/variables/variables';

.editor-view {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: $z-editor-view;

    .editor-controls:not(.editor-controls--mobile) {
        position: fixed;
        bottom: 30px;
        right: 30px;

        @media (max-width: $screen-laptop) {
            bottom: 15px;
            right: 15px;
        }
    }

    .editor-controls--mobile {
        pointer-events: none;
        opacity: 0;
    }

    .card-ghost {
        position: absolute;
    }

    .hint-sign-in {
        @include transform(translateX(-50%));
        position: fixed;
        bottom: 30px;
        left: 50vw;

        @media (max-width: $screen-laptop) {
            @include transform-none();
            left: 15px;
            bottom: 15px;
        }
    }

    .card-view,
    .cards-grid-view {
        @include transition(all 0.2s ease-in-out 0s);
    }

    .tree-view {
        @include transition(all 0.2s ease-in-out 0s);
        //@include transform(scale(1.2));
        position: relative;
        pointer-events: none;
        z-index: 1;
        opacity: 0;
    }

    &.is-tree-view {
        .card-view,
        .cards-grid-view {
            @include transition(all 0.2s ease-in-out 0s);
            @include transform(scale(0.618));
            opacity: 0;
        }

        .tree-view {
            @include transition(all 0.3s ease-in-out 0s);
            @include transform-none();
            pointer-events: all;
            opacity: 1;
        }
    }

    &.is-edit-mode {
        .editor-controls--mobile {
            @media (max-width: $screen-laptop) {
                pointer-events: all;
                opacity: 1;
            }
        }
    }
    
    @media (min-width: 1025px) {
        .card-view,
        .cards-grid-view {
            position: absolute;
            left: 0;
            right: 0;
        }
    }

    @media (max-width: $screen-laptop) {
        height: auto;
        position: static;
        padding: 75px 0 75px;

        .tree-view {
            @include position-cover();
        }

        .card-ghost {
            display: none;
        }

        .hint-sign-in {
            .tooltip {
                display: none;
            }
        }

        &.is-edit-mode {
            padding: 75px 0 0;

            .editor-controls:not(.editor-controls--mobile) {
                display: none;
            }

            .hint-sign-in {
                display: none;
            }
        }
    }
}