.h-48 {
    height: 48px;
}

.h-60 {
    height: 60px;
}

.h-100p {
    height: 100%;
}

.min-h-60 {
    min-height: 60px;
}

.sl\:h {
    @media (max-width: 1024px) {
        &-48 {
            height: 48px;
        }
    }
}