.theme-light {
    color: #333;
    background-color: #fff;

    .bc {
        &-bg {
            border-color: #ccc;
        }
    }

    .bg {
        background-color: #fff;
    
        &-light {
            background-color: #eee;
        }
    
        &-nav-i {
            background-color: #ddd;
        }
    }
    
    .h\:bg {
        &-nav-i {
            &:hover {
                background-color: rgb(49, 152, 105);
            }
        }
    
        &-nav-ic {
            &:hover {
                background-color: #ccc;
            }
        }
    }

    .color {
        &-default {
            color: #111;
        }
    
        &-light {
            color: #333;
        }
    
        &-primary {
            color: $primary;
        }
    }
    
    .h\:color {
        &-primary {
            &:hover {
                color: $primary;
            }
        }
    }
}