@import url('https://fonts.googleapis.com/css?family=Barlow|Nunito|Mukta|Kalam:300,400,500,700,800&display=swap&subset=latin-ext');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css');
@import 'variables/variables';
@import 'mixins/mixins';
@import 'base/normalize';
@import 'atoms/atoms';
@import 'global/global';

body {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 300;
}