@import './../../assets/style/variables/variables';

.nav-aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding-top: 72px;
    z-index: $z-nav-aside;

    > ul {
        > li {
            > a {
                cursor: pointer;
                display: block;
                font-size: 1.6rem;
                padding: 20px 20px;

                i {
                    margin-right: 5px;
                }
            }
        }
    }

    ol {
        counter-reset: counter -1;

        > li {
            border-top-width: 2px;
            border-top-style: solid;
            padding: 20px 20px;
            cursor: pointer;

            &:before {
                counter-increment: counter;
                content: counters(counter, ".") ". "; 
            }

            &:last-child {
                border-bottom-width: 2px;
                border-bottom-style: solid;
            }

            > a {
                > small {
                    display: block;
                    font-size: 15px;
                }
            }
        }
    }
}