@mixin box-shadow($expr) {
    -webkit-box-shadow: $expr;
    -moz-box-shadow: $expr;
    box-shadow: $expr;
}

@mixin user-select($expr: none) {
    -webkit-touch-callout: $expr;
    -webkit-user-select: $expr;
    -khtml-user-select: $expr; 
    -moz-user-select: $expr;
    -ms-user-select: $expr;
    user-select: $expr;
}

@mixin no-highlight() {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin tap-color($color) {
    -webkit-tap-highlight-color: $color;
}