@import './../../assets/style/mixins/mixins';
@import './../../assets/style/variables/variables';

.card {
    max-width: calc(100% - 610px);
    box-sizing: border-box;
    position: relative;
    border-radius: 2px;
    width: 660px;

    [contenteditable] {
        height: 100%;
        padding: 15px 50px;
        outline: 0;
    }

    &-tooltip {
        @include hide();
        @include transition(all 0.1s ease-in-out 0s);
        @include transform(translateY(-10px));
        position: absolute;
        font-style: normal;
        right: 13%;
        left: 13%;
        bottom: 65px;
        line-height: 0.9rem;
        padding: 18px 25px 14px;

        &:after{
            content: '';
            @include triangle-bottom(10px, $default-light);
            position: absolute;
            left: calc(50% - 5px);
            bottom: -10px;
        }

        strong {
            font-weight: 900;
        }
    }

    &-lead {
        font-style: italic;
        position: relative;
        z-index: 1;

        &:before {
            color: $default;
            display: none;
            padding: 37px 50px 0 50px;
        }

        &:after {
            // content: 'Write about this:';
            // color: $default;
            position: absolute;
            bottom: calc(100% - 32px);
            padding: 37px 50px 0 50px;
            // font-size: 14px;
            content: 'The story:';
            font-size: 17px;
            font-style: normal;
        }

        &:hover {
            .card-tooltip {
                @include show();
                @include transition(all 0.1s ease-in-out 0.5s);
                @include transform-none();
                pointer-events: none;
            }
        }
    }

    &-body {
        &:before {
            padding: 43px 50px 0 50px;
        }

        [contenteditable] {
            min-height: 210px;
            line-height: 1.8rem;
        }
    }

    &-lead,
    &-body {
        position: relative;

        &:before {
            content: attr(data-placeholder);
            position: absolute;
            pointer-events: none;
            line-height: 2.9rem;
            opacity: 0;
        }

        &:first-child {
            [contenteditable] {
                padding-top: 40px;
                font-size: 32px;
                padding-bottom: 39px;
                font-style: normal;
            }

            i {
                top: 38px;
            }
        }

        &:last-child {
            [contenteditable] {
                padding-bottom: 50px;
                min-height: 54vh;
                padding-top: 43px;
                line-height: 2.9rem;
            }
        }

        &:hover {
            i {
                opacity: 0.618;
            }
        }

        i {
            transition: 0.1s;
            position: absolute;
            pointer-events: none;
            right: 35px;
            top: 13px;
            padding: 5px;
            opacity: 0;
        }

        &.is-empty {
            &:before {
                opacity: 0.2;
            }
        }
    }

    @media (max-width: $screen-laptop) {
        max-width: calc(100% - 30px);

        &-lead,
        &-body {
            i {
                display: none;
            }
        }

        &-body {
            [contenteditable] {
                min-height: 200px;
            }
        }
    }

    @media (max-width: $screen-mobile-landscape) {
        [contenteditable] {
            padding: 15px 25px;
            outline: 0;
        }

        &-lead,
        &-body {
            &:before {
                padding: 18px 25px 0 25px;
            }

            &:first-child {
                [contenteditable] {
                    padding-top: 30px;
                }

                i {
                    top: 28px;
                }
            }

            &:last-child {
                [contenteditable] {
                    padding-bottom: 30px;
                }
            }
        }

        &-lead {
            &:after {
                padding: 8px 25px 10px 25px;
            }
        }
    }
}