@import './../../assets/style/variables/variables';
@import './../../assets/style/mixins/mixins';

.tree-view-toggler {
    cursor: pointer;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 60px;
    height: 60px;

    > .btn {
        cursor: pointer;
        position: absolute;
        text-align: center;
        width: 60px;
        height: 60px;
        top: 0;
        right: 0;

        > i {
            @include transition(0.2s);
            position: absolute;
            line-height: 60px;
            top: 1px;

            &.fa-project-diagram {
                left: calc(50% - 12px);
                
            }

            &.fa-sticky-note {
                @include transform(scale(0.618));
                left: calc(50% - 8px);
                opacity: 0;
            }
        }

        &:before {
            left: 0;
        }
    }

    &.is-tree-mode {
        > .btn {
            > i {
                &.fa-project-diagram {
                    @include transform(scale(0.618));
                    opacity: 0;
                }
    
                &.fa-sticky-note {
                    @include transform-none();
                    opacity: 1;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        display: none;
    }
}
