@import './../../assets/style/mixins/mixins';

.tree-map {
    cursor: move;

    .bullet {
        position: relative;
        z-index: 10;

        circle {
            @include transition(0.1s);
            cursor: pointer;

            &:nth-child(1) {
                &:hover {
                    & + circle {
                        @include transform-none();
                        opacity: 0.618;
                    }
                }
            }

            &:nth-child(2) {
                @include transform(scale(0.618));
                pointer-events: none;
                opacity: 0;
            }
        }

        &.is-current {
            circle {
                &:nth-child(2) {
                    @include transform-none();
                    opacity: 0.618;
                }
            }
        }

        &.is-empty {
            circle {
                fill: #fff;

                &:nth-child(1) {
                    opacity: 0.618;
                }
            }
        }
    }

    .tt {
        @include transition(0.1s);
        @include transform(translateY(-10px));
        pointer-events: none;
        opacity: 0;
    }

    .tt-container {
        &.is-active {
            .tt {
                @include transform-none();
                opacity: 1;
            }
        }
    }

    @media (max-width: 1024px) {
        .gradient-shadow {
            display: none;
        }
    }
}
