@import './../../assets/style/variables/variables';

.app {
    .logo-props {
        position: absolute;
        left: 30px;
        top: 30px;
        
        svg {
            width: 50px;
        }
    }

    @media (max-width: $screen-laptop) {
        height: 100vh;

        .logo-props {
            display: none;
        }
    }
}