.content {
    h1 {
        font-size: 2rem;
        line-height: 2.3rem;
        font-weight: 300;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 2rem;
        line-height: 2.3rem;
        margin-bottom: 3.8rem; 
        font-weight: 300;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 300;
    }
}
