.bg {
    background-color: $bg;

    &-light {
        background-color: $bg-light;
    }

    &-nav-i {
        background-color: #414141;
    }
}

.h\:bg {
    &-nav-i {
        &:hover {
            background-color: rgb(49, 152, 105);
        }
    }

    &-nav-ic {
        &:hover {
            background-color: #515151;
        }
    }
}