.m-a {
    margin: auto;
}

.mb--5 {
    margin-bottom: -5px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mv-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.mh-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mh-auto {
    margin-left: auto;
    margin-right: auto;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}
