.c-p {
    cursor: pointer;
}

.cover-top {
    top: 0;
    left: 0;
    right: 0;
}

.to-top {
    top: calc(50% - 250px);
}

.to-bottom {
    bottom: calc(50% - 250px);
}

.to-left {
    left: calc(50% - 430px);
}

.to-right {
    right: calc(50% - 430px);
}