.pv-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ph-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.ph-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.ph-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-50 {
    padding-top: 50px;
}

@media (max-width: $screen-laptop) {
    .sl\:ph-20 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: $screen-tablet) {
    .st\:ph-0 {
        padding-left: 0;
        padding-right: 0;
    }
}
